.userinfo-more-container {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 15px;
  top: 250px;
  right: 10px;
  background-color: #fff;
}

.userinfo-more-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.userinfo-more-item:hover {
  background-color: #eee;
}
