.email-signin {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
}

.email-signin-wrapper {
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  width: 450px;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.email-signin-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.email-signin-title {
}

.email-signin-input-container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.email-signin-input-container.focused {
  border: 2px solid var(--color-point);
}

.email-signin-input-info {
  display: flex;
  justify-content: space-between;
}

.email-signin-input-info-title {
  flex: 1;
  padding: 10px 5px 5px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.email-signin-input-info-title.active {
  padding: 0px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.email-signin-input-info-length {
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.email-signin-input-info-length.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.email-signin-input {
  flex: 1;
  max-height: 0;
  opacity: 0;
}

.email-signin-input.active {
  max-height: 20px;
  opacity: 1;

  outline: none;
  border: none;
  font-size: 16px;
}

.email-signin-birth-container {
}
.email-signin-birth-title {
  margin-bottom: 15px;
}

.email-signin-birth-selection-container {
  display: flex;
  justify-content: space-between;
}
.email-signin-birth-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  position: relative;
}
.email-signin-birth-input-wrapper.focused {
  border: 2px solid var(--color-point);
}

.email-signin-birth-input-container {
  flex: 85;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.email-signin-birth-input-title {
  padding: 5px;
}
.email-signin-birth-input {
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  outline: none;
  text-align: center;
}

.email-signin-birth-input-icon {
  flex: 15;
  text-align: center;
}

.email-signin-birth-input-list {
  position: absolute;
  bottom: 40px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  visibility: hidden;
  max-height: 0px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.email-signin-birth-input-list.focused {
  visibility: visible;
  max-height: 300px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.email-signin-birth-input-item {
  position: relative;
  margin: 10px;
  width: 60px;
  cursor: pointer;
  text-align: center;
}

.email-signin-birth-input-item.selected {
  color: var(--color-point);
}

.email-signin-birth-input-item:hover {
  color: var(--color-point);
}

.email-signin-button {
  border: none;
  border-radius: 10px;
  padding: 10px;
}
