.naver-oauth-signup {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000042;
  left: 0;
  top: 0;
}
.naver-oauth-signup-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 600px;
  height: 600px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 20px;
}
.naver-oauth-signup-container {
  position: relative;
  padding: 40px;
}
.naver-oauth-signup-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.naver-oauth-signup-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.naver-oauth-signup-main-header {
}
.naver-oauth-signup-main-header-title {
  font-weight: bold;
  font-size: 18px;
}

.naver-oauth-signup-main-content {
}
.naver-oauth-signup-main-content-item {
}
