.calendar-header {
}

.calendar-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calendar-header-left-text {
  font-size: 13px;
}

.calendar-header-left-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.calendar-header-left-icon.show {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.calendar-header-right {
  display: flex;
  gap: 5px;
}

.calendar-header-right-icon {
  cursor: pointer;
}

.calendar-accordian-list {
}
