.post {
  width: 100%;
  border-bottom: 1px solid #eee;
}
.post-wrapper {
  display: flex;
  gap: 10px;
  padding: 0 30px;
}

.post-left {
}
.post-profile-photo-wrapper {
}
.post-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-right {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-main-header-left {
  display: flex;
  align-items: center;
  color: #999;
  gap: 4px;
}
.post-main-username {
  color: #000;
}
.post-main-userid-wrapper {
  display: flex;
}
.post-main-userid {
}
.dot {
  width: 3px;
  height: 3px;
  background-color: #999;
  border-radius: 50%;
}
.post-main-more {
  cursor: pointer;
}

/* λ©”μΈ */
.post-main-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post-main-content-text {
}
.post-main-content-extra {
}
.post-main-content-extra-photos-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.post-main-content-extra-photos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 100%);

  transition: all 0.3s ease;
  transform: translateX(var(--preview-width));
}
.post-main-content-extra-photos-photo {
  width: 100%;
  border-radius: 30px;
  height: 500px;
  object-fit: cover;
}

.post-main-content-extra-photos-dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.dot-indicator {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.7;
}

.dot-indicator.selected {
  opacity: 1;
}

.dot-indicator:hover {
  opacity: 1;
}

/* ν‘Έν„° */
.post-main-footer {
  display: flex;
  justify-content: space-between;
}

.post-main-footer-item {
  display: flex;
  align-items: center;

  cursor: pointer;
  color: #555;
}
.post-main-footer-item.comment:hover {
  color: blue;
  .post-main-footer-item-icon {
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.3);
  }
}

.post-main-footer-item.retweet:hover {
  color: green;
  .post-main-footer-item-icon {
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.3);
  }
}
.post-main-footer-item.favorite:hover {
  color: red;
  .post-main-footer-item-icon {
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.3);
  }
}
.post-main-footer-item.view:hover {
  color: violet;
  .post-main-footer-item-icon {
    border-radius: 50%;
    background-color: rgba(238, 130, 238, 0.3);
  }
}
.post-main-footer-item-icon {
  padding: 4px;
}
.post-main-footer-item-icon.favorite {
  color: red;
}
.post-main-footer-item-text {
  font-size: 14px;
}
