.user-page {
}
.user-page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}
.user-page-background-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.user-page-background {
  width: 100%;
  object-fit: none;
}
.user-page-profile-wrapper {
  position: absolute;
  top: 145px;
  left: 20px;
  box-sizing: border-boxs;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-page-profile {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user-page-follow {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
  height: 30px;
  padding: 10px;
}

.user-page-follow-alarm {
  border: 2px solid #999;
  border-radius: 50%;
  padding: 5px;
}

.user-page-follow-item {
  cursor: pointer;
}

.user-page-follow-btn {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.user-page-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-page-info-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user-page-username {
  font-weight: bold;
  font-size: 18px;
}
.user-page-userId {
  color: #999;
}
.user-page-info-dates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user-page-regdate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-page-info-follow {
  display: flex;
  gap: 10px;
}

.user-page-tablist-container {
  display: flex;
  justify-content: space-around;
}

.user-page-tablist-tab {
  text-decoration: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-page-tablist-tab:hover {
  background-color: #eee;
}
.user-page-tablist-tab.active {
  .user-page-tablist-tab-text {
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 3px solid var(--color-point);
  }
}
.user-page-tablist-tab-text {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
