.post-comment-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.344);
}

.post-comment-modal-wrapper {
  position: absolute;
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 15px;
}

.post-comment-modal-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-comment-modal-header {
}
.post-comment-modal-content {
  display: flex;
  gap: 10px;
}
.post-comment-modal-left {
}
.post-comment-modal-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post-comment-modal-right {
  flex: 1;
  position: relative;
  display: flex;
}
.post-comment-modal-input {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
}
.post-comment-modal-footer {
}
.post-comment-modal-btns {
  display: flex;
  justify-content: space-between;
}

.post-comment-modal-btn {
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px;
  width: 70px;
  cursor: pointer;
}

.post-comment-modal-btn.close {
  background-color: red;
  color: #eee;
}
.post-comment-modal-btn.close:hover {
  background-color: rgba(255, 0, 0, 0.8);
}

.post-comment-modal-btn.upload {
  background-color: var(--color-point);
  color: #eee;
}

.post-comment-modal-btn.upload:hover {
  background-color: var(--color-point-hover);
}
