.login-disabled-input {
  /* 고정 */
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  gap: 7px;
  color: #ccc;
}
.login-disabled-input-title {
  font-size: 14px;
}
.login-disabled-input-input {
  flex: 1;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
  color: #ccc;
}
